@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Roboto:wght@300&display=swap,300&family=Montserrat:wght@500&display=swap");
/* global styles */
html {
  scroll-behavior: smooth;
}
.section__title {
  margin-top: 50px;
  text-align: center;
  line-height: 10px;
}
.section__title h2 {
  padding: 1.4rem;
  
  font-size: 2.5rem;
  font-family: "Roboto", serif;
  font-weight: 500;
}
.section__title p {
  padding: 1.4rem;

  font-size: 1.25rem;
  font-family: "Merriweather", sans-serif;
  color: #898888;
  font-style: italic;
}
.subtitle {
  font-size: 1.65rem;
  color: #464646;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}
.subtitle h3 {
  font-size: 1.65rem;
  color: #464646;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.subtitle p {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
}
.btn {
  display: block;
  padding: 15px 35px;
  margin: 0 auto;

  border-radius: 17px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(138, 138, 138);
  transition: 0.3s ease-out;
}
.btn:hover {
  color: #363636;
  background: #fff;
  box-shadow: 0 0 5px #a5a8a8, 0 0 20px #cccecf;
}

/* Header Section */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;

  background-color: #fff;
}
.header .menu{
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;

  list-style: none;
  font-family: "Roboto", sans-serif;
  background: #fff;
  z-index: 99;
}
.header .menu li{
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 50px;
}
.header .menu li a:after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.03);
  font-size: 8rem;
  letter-spacing: 20px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
.header .menu li:hover a:after {
  transform: translate(-50%, -50%) scale(1);
}
.header .menu li a {
  font-weight: 700;
  font-size: 1.1rem;
  color: #989696;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}
.header .menu li a:hover {
  font-weight: bolder;
  color: #000000;
}
.header .menu li .logo {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.header .logo::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 80%;
  border: 3px solid #121212;
  transition: 0.65s ease;
  z-index: -10;
}
.header .logo:hover::after {
  opacity: 0;
  transform: scale(1.66);
}
.header .title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
  margin-top: 50px;
}
.header .title h1 {
  padding: 1rem 2rem;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}
.header .title h3 {
  padding: 1rem 3rem;
  color: #898888;
  font-size: 1.25rem;
  font-family: "Merriweather", serif;
  font-weight: normal;
}
.header .ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.header .ellipse .ellipse-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80px;
  width: 80px;
}
.header .ellipse .ellipse-items a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 300ms ease-in-out;
}
.header .ellipse .ellipse-items a:hover {
  transform: scale(1.3);
  background: #635a5a;
}
.header .ellipse .ellipse-items .ellipse-1 {
  background: #f0f0f0;
}
.header .ellipse .ellipse-items .ellipse-2 {
  background: #e0e0e0;
}
.header .ellipse .ellipse-items .ellipse-3 {
  background: #d0d0d0;
}
/* About Us Section */
.about-us {
  position: relative;
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background: #000;

  text-align: center;
  overflow: hidden;
}
.about-us::after {
  content: "Sed at auctor sem, nec tincidunt elit. Pellentesque enim turpis, porttitor ac orci in, ultrices efficitus nis. Ut odiolibero, sodales elefend, suscipit dapibus mi. Sed at auctor sem, nec tincidunt elit. Pellentesque enim turpis, porttitor ac orci in, ultrices efficitus nis. Ut odiolibero, sodales elefend, suscipit dapibus mi. Sed at auctor sem, nec tincidunt elit. Pellentesque enim turpis, porttitor ac orci in, ultrices efficitus nis. Ut odiolibero, sodales elefend, suscipit dapibus mi. Sed at auctor sem, nec tincidunt elit. Pellentesque enim turpis, porttitor ac orci in, ultrices efficitus nis. Ut odiolibero, sodales elefend, suscipit dapibus mi.";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  letter-spacing: 15px;
  z-index: 2;

  color: rgba(255, 255, 255, 0.1);
}
.about-us .about-cr {
  position: relative;
  padding-top: 1rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  letter-spacing: 1.25px;
  z-index: 10;
}
.about-us .about-us-item {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  text-align: center;
  flex: 0 1 43%;

  box-shadow: 0 0 10px rgb(104, 103, 103), 0 0 50px rgb(94, 93, 93);
  background-color: #000;
}
 .about-us .about-us-item p {
  margin-top: .5rem;
  color: #b7b7b7;
  font-family: sans-serif;
  font-size: 1rem;
  font-family: "Montserrat", serif;
 }
.about-us .about-us-item span {
  font-family: sans-serif;
  font-size: 3rem;
  color: #fff;
}
.about-us .bg-town {
  position: absolute;
  bottom: -5px;
  background-attachment: fixed;
  z-index: 1;
}

/* Team Section */
.team {
  min-height: 100vh;
  background: #fff;
}
.team .picture-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 4rem;
  padding: 2rem 0;
  width: 100%;
}
.team .picture-container .team-member {
  text-align: center;
}
.team .picture-container img {
  -webkit-filter: grayscale(100%) brightness(100%);
          filter: grayscale(100%) brightness(100%);
  border-radius: 50%;
  margin-bottom: 30px;
}
.team .picture-container .team-member a {
  font-size: 1.5rem;
  position: relative;
  color: #e4e4e4;
}
.team a .fa-instagram,
.fa-twitter {
  transition: 0.2s ease-in-out;
}
.team a .fa-instagram:hover {
  color: #c32a;
}
.team a .fa-twitter:hover {
  color: #1da1f2;
}

/* Services Section */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14rem 2rem;

  background-image: url(../img/Services-Background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.services .services-items {
  width: 100%;
  padding: 7rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.services .services-items .services-item {
  flex-basis: 30%;
  text-align: center;
}
.services .services-items i {
  font-size: 5rem;
  border: 7px solid #fff;
  border-radius: 50%;
  padding: 2.8rem 2.8rem;
}
.services .services-items h4 {
   padding: 2rem 0 1rem;
  color: #fff;
}
.services .services-items p{
  color: rgb(94, 94, 94);
}
.services .services-items .cloud-1 {
  padding: 40px 32px;
}
/* Contuct Us Section */
.contact-us {
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.contact-us .contact-us-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-us .contact-us-main {
  margin: 0px 0px 50px 50px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-us .contact-us-main i {
  transition: 0.3s ease;
  font-size: 1.5rem;
}
.contact-us .contact-us-main i:hover {
  transform: translateY(-30%);
}
.contact-us .contact-us-main a[href="#"] {
  color: #005279;
}
.contact_us .contact_us_main a[href="#"]:active {
  color: purple;
}
.contact-us .contact-us-main p {
  padding: 1rem;

  font-family: sans-serif;
  color: #898888;
  font-size: 1.1rem;
  font-weight: 500;
}
.contact-us .contact-us-item {
  padding: 10px;
  text-align: center;
}
.contact-us .contact-us-items form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 5% 0 5%;
}
.contact-us form input[type="text"] {
  font-size: 1.1rem;
  text-align: center;
  width: 770px;
  box-sizing: border-box;
  height: 50px;
  border: 1px solid #999999;
  margin-bottom: 20px;
}
.contact-us form textarea {
  font-size: 1.1rem;
  border: 1px solid #999999;
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  font-family: sans-serif;
  margin-bottom: 30px;
  padding: 20px;
  resize: none;
  overflow: auto;
}
.contact-us form input[type="submit"] {
  cursor: pointer;
  font-size: 1.15rem;
  width: 100%;
  height: 50px;
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65),
    7px 7px 15px rgba(70, 70, 70, 0.12);
  color: #666565;
  border: none;
  transition: 0.4s ease;
}
.contact-us form input[type="submit"]:hover {
  box-shadow: 0 0 5px #a5a8a8, 0 0 40px #cccecf, 0 0 80px #fafdff;
  color: #000;
  border-radius: 5px;
  background: rgb(228, 228, 228);
}
.contact-us form input[type="submit"]:active {
  color: #006c9c;
  box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65),
    7px 7px 15px rgba(70, 70, 70, 0.12),
    inset -7px -7px 15px rgba(255, 255, 255, 0.65),
    inset 7px 7px 15px rgba(70, 70, 70, 0.12);
}
.contact-us .footer {
  margin-top: 7rem;
  padding: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}
